.main {
  display: flex;
  justify-content: space-between;
}

.left {
  border: 1px solid navy;
  padding: 1rem;
  margin: 1rem;
}

.right {
  border: 1px solid navy;
  padding: 1rem;
  margin: 1rem;
}

input {
  border: 1px solid black;
}
