.postCheckout {
  border: 1px solid lightblue;
  padding: 1rem;
  margin: 1rem;
}

.thankYou {
  border: 1px solid purple;
  padding: 1rem;
  margin: 1rem;
}

.orderConfirmation {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.image {
  border: 1px solid green;
  padding: 1rem;
  margin: 1rem;
}

.message {
  border: 1px solid green;
  padding: 1rem;
  margin: 1rem;
}

/* fix name
.products {
  border: 1px solid blue;
  padding: 1rem;
  margin: 1rem;
} */
