.top {
  background-color: rgb(231, 231, 231);
  width: 75vw;
  margin: auto;
  padding: 4rem;
}

.thankYou {
  margin: 1rem;
  text-align: center;
  background-color: transparent;
  /* border: 1px solid blue; */
}

.thankYou h1 {
  background-color: transparent;
}

.orderConfirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: transparent;
  /* border: 1px solid blue; */
}

.orderConfirmation p {
  background-color: transparent;
}
