/* .gcheckout_form {
  border: 1px solid magenta;
} */

.gcheckout_form h3 {
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  width: 100px;
  border-right: 2px solid black;
}

.gcheckout_subform {
  display: flex;
  /* border: 1px solid blue; */
  margin-bottom: 2rem;
}

.gcheckout_form_field {
  display: flex;
  flex-direction: column;
}

.gcheckout_form_field label {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.1rem;
}

.gcheckout_form_field input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 200px;
  margin-bottom: 1rem;
  font-weight: 400;
  border: 1px solid black;
}

.gcheckout_subform_button {
  color: white;
  background-color: black;
  width: 100%;
  text-transform: uppercase;
  padding: 0.7rem;
}

.gcheckout_subform_button:hover {
  background-color: rgb(102, 102, 102);
  transition: background-color 0.4s ease-in-out;
}

/* COLLAPSED SUBFORM */
.collapsed_subform p {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.collapsed_subform_button {
  color: blue;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid blue;
  border-left: 0;
}

.collapsed_subform_button:hover {
  border-bottom: 1px solid red;
  color: red;
  transition: color 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
}

/* USER INFO */
.userinfo_feedback {
  margin-top: 1.5rem;
  margin-left: 1rem;
  color: red;
}

/* SHIPPING */
.shipping_feedback {
  margin-top: 27rem;
  margin-left: 2rem;
  color: red;
}

.gcheckout_shipping_options {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gcheckout_shipping_options p {
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 0.6rem;
}

.shipping_field {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.shipping_field label {
  font-weight: 400;
}

.shipping_field input {
  margin-right: 0.5rem;
}

.shipping_state_zip {
  display: flex;
}

.state {
  margin-right: 1rem;
}

.shipping_state_zip input {
  width: 92px;
}

/* PAYMENT */
.gcheckout_payment {
  display: flex;
  flex-direction: column;
}

.payment_checkbox_field input {
  margin-right: 0.5rem;
}

.payment_exp_cvv {
  display: flex;
}

.exp {
  margin-right: 1rem;
}

.payment_exp_cvv input {
  width: 92px;
}

.payment_same_address {
  margin: 1rem 0;
}

.payment_same_address p {
  margin-left: 1.5rem;
  font-weight: 400;
}

.payment_billing_address {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.payment_feedback {
  color: red;
  margin-left: 2rem;
  margin-top: 10rem;
}
